{% load static %}

<style>
h4 , .para{
	text-align: center;
	}
a{
    color: black;
    
}

a:hover {
  text-decoration: none;
}


</style>


<div class="container-fluid" style="border-color: green 3px solid;">
		<div class="row" style="background-color: white" id="logo">
					<div class="col-md-12">
						<h4 style="margin-top: 30px;text-align: center">Our Brands</h4>
						<p class="para"><span style="color:red">-</span>THE AUTOS WE DEAL IN<span style="color:red">-</p>
					</div>
					<div class="col-md-11 offset-1" >
						<img src="{% static 'image/audi.png' %}" width="150" class="img-fluid">
						<img src="{% static 'image/abmw.jpeg' %}" width="150" class="img-fluid">
						<img src="{% static 'image/avolk.jpeg' %}" width="270" class="img-fluid">
						<img src="{% static 'image/abe.jpg' %}" width="150" class="img-fluid">
                        <img src="{% static  'image/atoyo.jpeg' %}" width="180" class="img-fluid">
                        
					</div>
			</div>
				<div class="row" style="background-color:#A2B5CD">
					<div class="col-md-3">
						<img src="{% static 'image/logo.png' %}" class="img-fluid" style="display: block;margin: auto;">
						<p class="para" >Copyright &copy;2019 AUTOSHOP.All Rights Reserved</p> 
					</div>
					<div class="col-md-3" style="padding-top: 80px;">
							<h4>USEFUL LINKS</h4>
						<p class="para"><a href="about.html">About Us</a></p>
						<p class="para"><a href="#"> Our Services</a></p>
						<p class="para"><a href="#"> Information</a></p>
						<p class="para"><a href="#" >Privacy policy</a></p>
					</div>
					<div class="col-md-3" style="padding-top: 80px;">
							<h4>OUR TERMS</h4>
						<p class="para"><a href="#"> Support</a></p>
						<p class="para"><a href="#"> Contact</a></p>
						<p class="para"><a href="#"> Typography</a></p>
						<p class="para"><a href="#"> FAQ</a></p>
					</div>
					<div class="col-md-3" style="padding-top: 80px;">
							<h4>SHOWROOM</h4>
						<p class="para">2.Irewole Street,</p>
						<p class="para">Opebi,Ikeja</p>
						<p class="para">Lagos State</p>
						
					</div>
					
				</div>
	</div>