
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/css/bootstrap.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'css/fonts/lora/lora-bold.ttf' %}">
<link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/all.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'javascript/script.js' %}">


<style type="text/css">

@font-face{
			font-family: 'fonty';
			src:url('{%  static 'css/fonts/lora/lora-bold.ttf' %}');
    }
    
  

</style>


{% if request.user.is_authenticated %}
<div style=" background-color:#DCDCDC;" class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3  border-bottom shadow-sm">
       
       <h5 class="my-0 mr-md-auto font-weight-normal"><a   href="{% url 'home' %}" id="brand">AUTOSHOP</a></h5>
       <div class="search-bar mt-sm-2 mr-2" >
          <form method="GET">
              <div class="container">
                  <div class="col-md-12">
                      <input   type="text" class="form-control" name="q" id="id_q" placeholder="Search.....  " >  
                  </div>

              </div>
             
          </form>
        </div>
        <nav class="my-2 my-md-0 mr-md-3">
          <a class="p-2 text-dark" href="{% url 'home' %}">Home</a>
          <a class="p-2 text-dark" href="#">Services</a>
          <a class="p-2 text-dark" href="{% url 'account' %}">Account</a>
          
          <span>Hi, {{ request.user.username }}  </span>
          <a  class="btn btn-outline-primary" href="{% url 'logout' %}">Logout</a>
        </nav>
 </div>
 {% else %}  
 <div style=" background-color :#DCDCDC;" class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3  border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal"><a  href="{% url 'home' %}">AUTOSHOP</a></h5>
        <div class="search-bar mt-sm-2 mr-2" >
            <form method="GET">
                <input type="text" class="form-control" name="q" id="id_q" placeholder="Search....."   >
            </form>
          </div>
        <nav class="my-2 my-md-0 mr-md-3">
          <a class="p-2 text-dark" href="{% url 'home' %}">Home</a>
          <a class="p-2 text-dark" href="#">Services</a>  
          <a  class="btn btn-outline-secondary" href="{% url 'login' %}">Login</a>
        </nav>
        <a class="btn btn-outline-primary" href="{% url 'register' %}">Sign up</a>
 </div>  
 {% endif %} 
 

 <script type="text/javascript">
 
</script>


     <!--END HEADER-->

